name: Build App Images
on:
  workflow_call:
    inputs:
      version:
        description: 'Version tag to build'
        required: false
        type: string
      app-name:
        description: 'Application name'
        required: true
        type: string
      environment:
        description: 'Environment to deploy to'
        required: false
        type: string
        default: 'dev' # default prod
  workflow_dispatch:

env:
  REGISTRY: "${{ inputs.environment }}containerregistry5th7aytwop.azurecr.io"
  APP_NAME: ${{ inputs.app-name }}
  VERSION: ${{ inputs.version }}
  ENVIRONMENT: ${{ inputs.environment }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Log in to Azure Container Registry
        run: az acr login --name ${{ env.REGISTRY }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: "${{ env.REGISTRY }}/${{ env.APP_NAME }}:${{ env.VERSION }}"

      - name: Check pushed image
        run: |
          docker manifest inspect ${{ env.REGISTRY }}/${{ env.APP_NAME }}:${{ env.VERSION }}