name: Hot Fix App Images
on:
  workflow_call:
    inputs:
      version:
        description: 'Version tag to build'
        required: true
        type: string
      app-name:
        description: 'Application name'
        required: true
        type: string
  workflow_dispatch:

env:
  REGISTRY: "ghcr.io/dolvladzio"
  APP_NAME: ${{ inputs.app-name }}
  VERSION: ${{ inputs.version }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: ${{ env.REGISTRY }}/${{ env.APP_NAME }}:${{ env.VERSION }}

      - name: Check pushed image
        run: |
          docker manifest inspect ${{ env.REGISTRY }}/${{ env.APP_NAME }}:${{ env.VERSION }}