name: Hot Fix
on:
  repository_dispatch:
    types: [hot-fix-deployment-trigger]

env:
  AZURE_RESOURCE_GROUP: "terraform-infra"
  VERSION: ${{ github.event.client_payload.version }}
  ENVIRONMENT: ${{ github.event.client_payload.environment }}
  REGISTRY: ${{ github.event.client_payload.environment }}containerregistry5th7aytwop.azurecr.io
  AZURE_AKS_CLUSTER: ${{ github.event.client_payload.environment }}-aks-cluster
  APP_NAME: ${{ github.event.client_payload.app-name }}

jobs:
  hot-fix-plan:
    name: Plan Hot Fix Chart
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      
      - name: Configure kubectl
        uses: azure/setup-kubectl@v3
        with:
            version: 'latest'
          
      - name: Lint Helm charts
        run: |
          for chart in charts/*; do
            helm lint "$chart"
          done

      - name: Install helm diff plugin
        run: |
            helm plugin install https://github.com/databus23/helm-diff --version v3.9.4
            helm diff version

      - name: Azure login
        uses: azure/login@v2
        with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set kubeconfig
        run: |
          az aks get-credentials \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
            --name ${{ env.AZURE_AKS_CLUSTER }} \
            --admin \
            --overwrite-existing

      - name: Verify kubectl connection
        run: |
          kubectl get nodes

      - name: Helm diff check
        run: |
            echo "Checking helm diff for "

              if helm status ${{ env.APP_NAME }} -n ${{ env.ENVIRONMENT }} &> /dev/null; then
                echo "Release ${{ env.APP_NAME }} exists, checking diff..."
                helm diff upgrade ${{ env.APP_NAME }} ./charts/${{ env.APP_NAME }} \
                  -n ${{ env.ENVIRONMENT }} \
                  --set image.tag=${{ env.VERSION }} \
                  --set image.repository=${{ env.REGISTRY }}/${{ env.APP_NAME }} \
                  -f charts/${{ env.APP_NAME }}/values.yaml

                echo "✅ Diff check completed for ${{ env.APP_NAME }}"
              else
                echo "❌ Release ${{ env.APP_NAME }} does not exist yet, will be created"
              fi

  manual-approval:
    name: manual approval
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    needs: hot-fix-plan
    steps: 
      - name: Await for manual approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.token }}
          approvers: yuriihospodaryshyn-commits
          minimum-approvals: 1
          issue-title: "Manual Approval Required for Helm Chart Deployment"
          issue-body: "Review the Hot Fix Helm diff, then approve or deny the deployment in ${{ env.ENVIRONMENT }}."
          exclude-workflow-initiator-as-approver: false

  hot-fix-deploy:
    name: Deploy Hot Fix Chart
    needs: manual-approval
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      
      - name: Configure kubectl
        uses: azure/setup-kubectl@v3
        with:
            version: 'latest'

      - name: Install helm diff plugin
        run: |
            helm plugin install https://github.com/databus23/helm-diff --version v3.9.4
            helm diff version

      - name: Azure login
        uses: azure/login@v2
        with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set kubeconfig
        run: |
          az aks get-credentials \
            --resource-group ${{ env.AZURE_RESOURCE_GROUP }} \
            --name ${{ env.AZURE_AKS_CLUSTER }} \
            --admin \
            --overwrite-existing

      - name: Verify kubectl connection
        run: |
          kubectl get nodes

      - name: Deploy the ${{ env.VERSION }} version
        run: |
            echo "Deploying ${{ env.APP_NAME }} version ${{ env.VERSION }} to ${{ env.ENVIRONMENT }}"
            if helm upgrade --install ${{ env.APP_NAME }} ./charts/${{ env.APP_NAME }} \
              -n ${{ env.ENVIRONMENT }} \
              --set image.tag=${{ env.VERSION }} \
              --set image.repository=${{ env.REGISTRY }}/${{ env.APP_NAME }} \
              -f charts/${{ env.APP_NAME }}/values.yaml \
              --wait --timeout 10m; then
              echo "✅ Deployed ${{ env.APP_NAME }} successfully"
            else
              echo "❌ Deployment of ${{ env.APP_NAME }} failed"
              exit 1
            fi

      - name: Check status
        run: |
          echo "Checking helm status for ${{ env.APP_NAME }}..."

          if helm status ${{ env.APP_NAME }} -n ${{ env.ENVIRONMENT }}; then
              echo "✅ ${{ env.APP_NAME }} is deployed"
            else
              echo "❌ ${{ env.APP_NAME }} is not deployed, aborting deployment"
              exit 1
            fi